.App {
  text-align: center;
  background-image: url("Dq6o3uI.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.welcome{
  color: white;
  position: relative;
  background-color: #4267b2;
}

.login{
position: absolute;
margin-left:90%;
margin-top:-40px;
background-color: white;
}

.logout {
  position: absolute;
margin-left:93%;
margin-top:-40px;
background-color: white;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.loginPage{
  width: 300px;
  margin-left:40%;
  background-color: aliceblue;
  padding: 20px 10px;
  

}

.regiPage{
  width: 300px;
  margin-left:40%;
  padding: 10px 10px;
  background-color: aliceblue;
  margin-bottom: 140px;
}

